extends ./module
block variables 
    -let pageTitle = "Analysis"
block content 
    h2#accuracy= `Accuracy: ${testingResult.correct}/${testingResult.all} = ${((testingResult.correct/testingResult.all)*100).toFixed(2)}%`
    .samples(style="display: flex; justify-content: center; flex-wrap: wrap")
        button.blue(onclick="getTestedSamples(this)") Get Tested Samples 
    hr
    h2 The Confusion Matrix Old
    #MatrixContainerOld(data-matrix = matrixOld)
    h2 The Confusion Matrix 
    #MatrixContainer(data-matrix = matrix)
    
block js 
    script(src="/js/confusion.js")
    script(src="/js/analysis.js")