extends ./module
block variables
    -let pageTitle = 'Draw'
block linkCSS 
    link(rel="stylesheet", href="/css/draw.css")

block content 
    #details
        h2 what will you draw?
        input(type="text", name="label")
    button.blue#startBtn(type="button", onclick="start()") Start
    #sketchContainer

block js 
    script(src="/js/sketchPad.js") 
    script(src="/js/contribute.js") 
