extends ./module
block variables
    -let pageTitle = 'Login'
block linkCSS 
    link(rel="stylesheet", href="/css/register.css")
block content
    .image-container
        img(src="/images/register.png", alt="image")
        .text 
            h1 Welcome Back
            p  Sign in to access a community of visionaries, share your unique creations, 
        h3.login-option
            span.text-center do not have account?
            | 
            a.red(href='/signup') Create Account
    form(class='login', action="/login", method='post')
        h1 Login
        input(type='name', name='nameOrEmail', placeholder='Enter your name or email', required)
        br
        input(type='password', name='password', placeholder='Enter password', required)
        br
        button.submit.blue(type='submit') submit
        h3.login-option
            span.text-center do not have account?
            | 
            a(href='/signup') Create Account
        if(error)
            p.err= error
