block variables
doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= pageTitle
        block linkCSS
        link(rel="stylesheet", href="/css/main.css")
    body
        div.navbar
            a.logo(href="/") DrawPrediction
            .menu
                .icon 
                    div
                    div
                    div
                ul.links
                    li
                        a(href = "/predicate") Predicate
                    li
                        a(href = "/contribute") Contribute
                    li
                        a(href = "/analysis") Analysis
                    if(!user)
                        li
                            a(href = "/login") Login
                        li
                            a(href = "/signup") Signup
            
                if(user)
                    .account-info
                        img.img-icon(src=user.img, onclick="toggleMenu()", alt="")
                        ul.menu(style="display:none;")
                            li Hello  
                                h3= user.name
                            hr
                            li: .profile-link(onclick="openProfile('"+user._id+"')") Profile
                            li: .logout(onclick="logout()") Logout
        .container
            block content
        script(src="/js/main.js") 
        if(user)
            script(src="/js/registeredMain.js") 
        block js