extends ./module
block variables 
    -let pageTitle = "Predicate"

block linkCSS 
    link(rel="stylesheet", href="/css/prediction.css")

block content 
    .options
        label(for="drawingName") name: 
        input#drawingInputName(type="text", name="name" value=drawing? drawing.name : new Date().getTime())
        button.save.blue(onclick="save()") save
        if(user)
            input#drawingInputId(type="hidden", value=drawing? drawing._id : "")
        button.download.blue(onclick="download(this.dataset.label)") Download
    hr
    #sketchContainer(data-drawing=drawing)
    button#suggest.blue Suggest
    h2#label
    #suggestsContainer

block js 
    script(src="/js/sketchPad.js") 
    script(src="/js/prediction.js") 
