extends ./module
block variables 
    -let pageTitle = "Predicate"

block linkCSS 
    link(rel="stylesheet", href="/css/prediction.css")

block content 
    .details
        .name
            label(for="drawingName") name: 
            input#drawingInputName(type="text", name="name" value=drawing? drawing.name : new Date().getTime())
        .options
            a.save(onclick="save()") save
            if(user)
                input#drawingInputId(type="hidden", value=drawing? drawing._id : "")
            a.download(onclick="download()") 
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13" width="30px" stroke-linecap="round" stroke-linejoin="round")
                    polyline(class="undo" fill="none" stroke="currentColor" points="4 8, 6 10, 8 8")
                    polyline(class="undo" fill="none" stroke="currentColor" points="6 10, 6 3")
                    polyline(class="undo" fill="none" stroke="currentColor" points="1 10, 1 12, 11 12, 11 10")
    #sketchContainer(data-drawing=drawing)
    button#suggest.blue Predicate
    h2#label
    #suggestsContainer

block js 
    script(src="/js/sketchPad.js") 
    script(src="/js/prediction.js") 
