extends ./module
block variables
    -let pageTitle = 'Sign Up'
block linkCSS
    link(rel="stylesheet", href="/css/register.css")
block content
    .image-container
        img(src="/images/register.png", alt="image")
        .text 
            h1 Join Our Creative Community!
            p Unlock your artistic potential by becoming a part of our vibrant community. 
        .signup-option
            span did you have account ?
            | 
            a.red(href='/login') Login
    form(class='signup' action="/signup" method='post')
        h1 Create Account 
        p The name should be 3 or more character and not contain spaces or special characters 
        input(type='text', pattern="^[0-9a-zA-Z_]{3,}$", name='name', placeholder='enter your name' required)
        br
        input(type='email', name='email', placeholder='enter your email' required)
        br
        .password-container
            input.password(type='password' pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name='password' placeholder='Enter a password' required)
            .err.main-password
            input.repeat-pass(type='password' placeholder='Enter the password again' required)
            .err.repeated-password The password not matched
            br
        div(class='form-check')
            input(class='check' id='check' type='checkbox' required)
            lable(class='lable' for='check') accept our licence
            .err.licence You must agree before submitting.
        button.submit.blue(type='submit') Sign Up
        .signup-option
            span did you have account ?
            | 
            a(href='/login') Login
    if(error)
        p.err= error
block js 
    script(src="/js/signup.js") 