input[type="radio"]{
    width: auto
}
input[type="radio"] + span{
    margin-right: 20px;
}
#sketchPadContainer{
    visibility: hidden;
}
#sketchPadContainer .undo{
    display: block;
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
}

.group {
    display: flex;
    align-items: center;
}
.group img {
    width: 50px;
    border: 1px solid black;
}
.group h3{
    width: 10%;
    word-wrap: break-word;
}