*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
    text-align: center;
    background-color: whitesmoke;
}
p, button, input{
    font-size: 1.2em;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #33333388;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}
input[type="radio"], input[type="checkbox"]{
    width: 30px;
    transform: scale(1.5);
}
a{
    text-decoration: none;
    color: #ededed;
}
.navbar .links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar .menu{
    display: flex;
    align-items: center;
}
.navbar .menu .icon{
    position: relative;
    display: none;
}
.navbar .menu .icon div{
    width: 24px;
    height: 4px;
    background-color: #ededed;
    margin-bottom: 4px;
    border-radius: 20px;
}

button{
    color: #ededed;
    border: none;
    padding: 8px 16px;
    margin: auto 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}
.red{
    background-color: firebrick;
}
.red:disabled{
    background-color: rgba(178, 34, 34, 0.418);
    cursor:default;
}
.red:not(:disabled):hover{
    border: 2px solid firebrick;
    background-color: transparent;
    color: firebrick;
}
.blue{
    background-color: dodgerblue;
}
.blue:disabled{
    background-color: rgba(30, 143, 255, 0.438);
    cursor:default;
}
.blue:not(:disabled):hover{
    border: 2px solid dodgerblue;
    background-color: transparent;
    color: dodgerblue;
}
.gray{
    background-color: gray;
}
.gray:hover{
    border: 2px solid gray;
    background-color: transparent;
    color: gray;
}
#sketchContainer{
    margin-bottom: 10px;
}
#sketchContainer .options{
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
img{
    background-color: #ededed;
    border-radius: 20px;
}

.img-icon{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

input {
    width: 300px;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}

.account-info{
    position: relative;
}

.account-info img, .account-info .profile-link{
    cursor: pointer;
}

.account-info .menu {
    position: absolute;
    right: 0;
    list-style: none;
    width: 200px;
    background-color: #ededed;
    padding: 20px 0;
    margin: 0;
    font-size: 17px;
    border-radius: 20px;
}

.account-info .menu li:not(:first-child){
    margin-bottom: 10px;
}

.account-info .menu h3{
    margin: 0;
    display: inline;
}

.account-info .menu .logout{
    color: firebrick;
    cursor: pointer;
}
.alert-success, .alert-faild, .alert-info{
    margin: 0;
    padding: 10px 0;
    color: #ededed;
    position: relative;
}
.alert-success{
    background-color: dodgerblue;
}
.alert-faild{
    background-color: firebrick;
}
.alert-info{
    background-color: gray;
}
.alert-close{
    background-color: #ededed;
    color: firebrick;
    padding: 0 4px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

@media (max-width: 580px) {
    .navbar{
        padding: 17px;
    }
    .navbar .menu .icon{
        display: block;
    }
    .navbar .menu ul{
        display: none;
        position: absolute;
        top: 24px;
        right: 0;
        background-color: #33333388;
        padding: 20px 40px;
        border-radius: 20px;
    }
    .navbar .menu ul li{
        margin-bottom: 10px;
    }
}