*{
    box-sizing: border-box;
}
body{
    margin: 0;
    text-align: center;
    background-color: #777;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
    background-color: #333;
}
a{
    text-decoration: none;
    color: white;
}
.navbar .links{
    list-style: none;
    display: flex;
    gap: 20px;
}
button{
    color: white;
    border: none;
    padding: 6px 12px;
    margin: auto 10px;
    border-radius: 20px;
    cursor: pointer;
}
.red{
    background-color: firebrick;
}
.red:disabled{
    background-color: rgba(178, 34, 34, 0.418);
    cursor:default;
}
.red:not(:disabled):hover{
    border: 2px solid firebrick;
    background-color: transparent;
    color: firebrick;
}
.blue{
    background-color: dodgerblue;
}
.blue:disabled{
    background-color: rgba(30, 143, 255, 0.438);
    cursor:default;
}
.blue:not(:disabled):hover{
    border: 2px solid dodgerblue;
    background-color: transparent;
    color: dodgerblue;
}
#sketchContainer{
    margin-bottom: 10px;
}
#sketchContainer .options{
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
img{
    background-color: white;
}

.img-icon{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

input {
    width: 300px;
    padding: 8px 10px;
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
}

.account-info{
    position: relative;
}

.account-info img, .account-info .profile-link{
    cursor: pointer;
}

.account-info .menu {
    position: absolute;
    right: 0;
    list-style: none;
    width: 200px;
    background-color: white;
    padding: 20px 0;
    margin: 0;
    font-size: 17px;
    border-radius: 20px;
}

.account-info .menu li:not(:first-child){
    margin-bottom: 10px;
}

.account-info .menu h3{
    margin: 0;
    display: inline;
}

.account-info .menu .logout{
    color: firebrick;
    cursor: pointer;
}
.alert-success, .alert-faild{
    margin: 0;
    padding: 10px 0;
    color: white;
    position: relative;
}
.alert-success{
    background-color: forestgreen;
}
.alert-faild{
    background-color: firebrick;
}
.alert-close{
    background-color: white;
    color: firebrick;
    padding: 0 4px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}