#suggests {
    display: flex;
    align-items: center;
}
#suggestsContainer{
    height: 200px;
    overflow-y: auto;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.options label{
    margin-right: 10px;
}

#drawingInputName{
    background-color: transparent;
    border: 1px white solid;
    width: auto;
    margin: 0;
    outline: none;
}
#drawingInputName:focus{
    background-color: white;
    border-color: black;
}