#suggests {
    display: flex;
    align-items: center;
}
#suggestsContainer{
    height: 200px;
    overflow-y: auto;
}

.details{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.details label{
    margin-right: 10px;
}

.container{
    padding-top: 60px;
}
#drawingInputName{
    background-color: transparent;
    width: 20vw;
    margin: 0;
    outline: none;
}
#drawingInputName:focus{
    background-color: white;
    border-color: black;
}

.details .options{
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: space-between;
}

.details .options .save, .details .options .download{
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

.details .options .delete:hover{
    background-color: firebrick;
    color: white;
}

.details .options .save:hover, .details .options .download:hover{
    color: dodgerblue
}

.note{
    margin-bottom: 10px;
}