.container{
    display: flex;
}
.user-details{
    width: 25%;
    border-right: 2px solid #484848;
    margin-right: 20px;
}
.user-details .img-icon{
    height: unset;
    width: 50%;
}
.drawings{
    display: flex;
    gap: 20px;
}
.drawing img{
    width: 100px
}
.drawing .name{
    margin: 5px 0;
}
.drawing .date{
    margin: 0;
}